:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F6F6F6;
    --branco: #ffffff;

    --fonte-principal: 'Poppins', Sans-serif;
    --fonte-secundaria:  'IBM Plex Sans', Sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img2/Patas.png"), url("/img/Forma1.png"), url("/img2/Forma3.png");
    background-repeat: no-repeat;
    background-position: top right, top left, left 20em;
    min-height: 100vh;
    font-family: var(--fonte-principal);
    font-size: 16px;    
}

.bg-branco {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 3em;   
}

.cabecalho__imagem {
    padding-right: 2em;
}

.conteudo {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex: 1;
    margin-top: 20px;
}

.conteudo__texto {
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1em 0;
}

.visualizacao {
     /* Vector */
    
    border-radius: 0px;

    position: absolute;
    left: 83.89%;
    right: 11.11%;
    top: 53.56%;
    bottom: 40.7%;
}

.visualizacao2 {
    /* Vector */
    height: 16px;
    width: 18px;
    border-radius: 0px;

    position: absolute;
    left: 83.89%;
    right: 11.11%;
    top: 73.25%;
    bottom: 31.01%;
}

form {
    padding: 15px 0px;
}

.container-formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

label {
    height: 25px;
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--cinza);
    line-height: 24px;
    margin: 5px;
    width: 340px;
}

input {
    height: 40px;
    border-radius: 6px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    border: 1px solid var(--cinza-claro)
}

input.cadastro {
    width: 148px;
    margin: auto;
    margin-top: 30px;
    background-color:  var(--coral);
    color: var(--branco);
}

input::placeholder {
    text-align: center;
    color: var(--cinza-claro);
}

.rodape {
    text-align: center;
    background-color: var(--verde);
    color: var(--branco);
    padding: 3em;
}

@media(max-width: 400px) {
    label {
        width: 285px;
    }
} 
