:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F6F6F6;
    --branco: #ffffff;

    --fonte-principal: 'Poppins', Sans-serif;
    --fonte-secundaria:  'IBM Plex Sans', Sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("#"), url("#"), url("/img/Forma1.png");
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--fonte-principal);
}

.bg-branco {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 3em;   
}

.cabecalho__navegation {
    display: flex;
    align-items: center;
}

.cabecalho__imagem {
    padding-right: 2em;
}

.cabecalho__perfil {
    padding-left: 7em;
}

.conteudo {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex: 1;
    margin-top: 20px;
}

.conteudo__texto {
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1em 0;
}

.conteudo__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fotos__informacao {
    margin-top: 25px;
}


.rodape {
    text-align: center;
    background-color: var(--verde);
    color: var(--branco);
    padding: 3em;
}

@media screen and (min-width: 768px) {
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 1444px) {
    section {
        display: flex;
        flex-wrap: wrap;
        display: flex;
    /* flex-wrap: wrap; */
       justify-content: center;
    }
}