:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F6F6F6;
    --branco: #ffffff;

    --fonte-principal: 'Poppins', Sans-serif;
    --fonte-secundaria:  'IBM Plex Sans', Sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img2/Patas.png"), url("/img2/Forma3.png"), url("/img/Forma1.png");
    background-repeat: no-repeat;
    background-position: top right, left 20em, top left;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--fonte-principal);
}

.bg-branco {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 3em;   
}

.cabecalho__imagem {
    padding-right: 2em;
}

.conteudo {
    flex: 1;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 70%;
}   
   
.conteudo__texto {
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1em 0;
}

/* .visualizacao {
    /* Vector */
   /* border-radius: 0px;
   bottom: 40.7%;
   left: 83.89%;
   position: absolute;
   right: 11.11%;
   top: 48.56%;
}  */

form {
    padding: 0px 0px 10px;
}

.container__login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

label {
    color: var(--cinza);
    font-family: var(--fonte-principal);
    margin: 5px;
    height: 25px;
    line-height: 24px;
    text-align: center;  
}

input {
    border: 1px solid var(--cinza-claro);
    font-family: var(--fonte-principal);
    font-weight: 600;
    border-radius: 6px;
    height: 40px; 
    width: 340px;
}

input.entrar {
    background-color:  var(--coral);
    color: var(--branco);
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    margin-top: 30px;
    width: 148px;  
}

input::placeholder {
    text-align: center;
    color: var(--cinza-claro);
}

.login__reset {
    height: 34px;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--coral);
}

.rodape {
    text-align: center;
    background-color: var(--verde);
    color: var(--branco);
    padding: 3em;
}

@media(max-width: 400px) {
    input {
        width: 285px;
    }
}
