:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F6F6F6;
    --branco: #ffffff;

    --fonte-principal: 'Poppins', Sans-serif;
    --fonte-secundaria:  'IBM Plex Sans', Sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

body {
    background-image: url("#"), url("/img/Forma1.png"), url("#");
    background-repeat: no-repeat;
    background-position: top right, top left, left 20em;
    font-family: var(--fonte-principal);
    font-size: 16px;  
    min-height: 100vh;  
}

.bg-branco {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 3em;   
}

.cabecalho__navigation__mensagens {
    display: flex;
    align-items: center;
}

.cabecalho__imagem {
    padding-right: 2em;
}

.cabecalho__perfil {
    padding-left: 7em;
}

.conteudo {
    flex: 1;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    text-align: center;
}

.conteudo__texto {
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1em 0;
}


.formulario--mensagem {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

label {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: 600;
    line-height: 24px;
    margin: 5px;
    
}

input {
    border: 1px solid var(--cinza-claro);
    border-radius: 6px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    height: 40px; 
    width: 340px;  
}

input.mensagem {
    height: 150px;
}

input.enviar {
    background-color:  var(--coral);
    color: var(--branco);
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    margin-top: 30px;
    width: 148px;
}

input::placeholder {
    color: var(--cinza-claro);
    text-align: center;
    
}

.login__reset {
    color: var(--coral);
    height: 34px;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
   
}

.rodape {
    background-color: var(--verde);
    color: var(--branco);
    padding: 3em;
    text-align: center;
}

@media(max-width: 400px) {
    input {
       width: 285px;
    }
}


