:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F6F6F6;
    --branco: #ffffff;

    --fonte-principal: 'Poppins', Sans-serif;
    --fonte-secundaria:  'IBM Plex Sans', Sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("#"), url("/img/Forma1.png"), url("#");
    background-repeat: no-repeat;
    background-position: top right, top left, left 20em;
    min-height: 100vh;
    font-family: var(--fonte-principal);
    font-size: 16px;    
}

.bg-branco {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 3em;   
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.cabecalho__imagem {
    padding-right: 2em;
}

.cabecalho__perfil {
    padding-left: 7em;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    flex: 1;
}

.container__conteudo {
    display: flex;
    flex-direction: column;
}

.container__texto__titulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.conteudo__texto {
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1em 0;
    text-align: center;
}

.conteudo__titulo {
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 48px;
}

.foto__texto {
/* H4 */
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--azul);
}

.editar__foto {
    display: flex;
    justify-content: center;
    color: var(--coral); 
}

.container__formulario {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.formulario--perfil {
    display: flex;
    flex-direction: column;
    width: 340px;
}

label {
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--azul);
    line-height: 24px;
    margin: 5px;
}

input {
    height: 40px;
    border-radius: 6px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    border: 1px solid var(--cinza-claro)
}

input.mensagem {
    height: 150px;
}

input.salvar {
    width: 148px;
    margin: auto;
    margin-top: 30px;
    background-color:  var(--coral);
    color: var(--branco);
    font-size: 16px; 
}

input::placeholder {
    text-align: center;
    color: var(--cinza-claro);
}

.login__reset {
    height: 34px;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--coral);
}

.rodape {
    width: 100%;
    text-align: center;
    background-color: var(--verde);
    color: var(--branco);
    margin-top: 10px;
    padding: 3em;
}

@media(max-width: 400px) {
    input {
        width: 285px;
    } 
}